
/*NAV BAR*/
.navbar-header img {
	width: 80px;
	margin-left: 10px;
}

#bs-example-navbar-collapse-1 {
	float: right;
}

/*About*/
#about h1 {
	text-align: center;
	font-family: 'Play', sans-serif;
}

#about p {
	font-family: 'Play', sans-serif;
}